<!DOCTYPE html>
<html>
<head>
    <title>Your To-Do List</title>
</head>
<body>

<h1>Your List</h1>

<a href="/lists/{{ list.id }}/?sort=priority">
  <button type="button">Toggle Sort Priority</button>
</a>



<form method="POST" action="/lists/{{ list.id }}/add_item">
  {% csrf_token %}
  <input name="item_text" placeholder="Enter a new item" />

  <select name="priority">
    <option value="H">High</option>
    <option value="M" selected>Medium</option>
    <option value="L">Low</option>
  </select>

  <button type="submit">Add item</button>
</form>

<ul>
  {% for item in items %}
    <li>[{{ item.get_priority_display }}] {{ item.text }}</li>
  {% endfor %}
</ul>



